/* Add Global styles here */
body {
	background-color: rgba(115, 190, 196, 0.5);
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
}	

.pancake-title {
	font-weight : 1000;
	font-size: 50px;
	background-color: rgb(255, 246, 235);
	padding: 2px 6px; 
	color: rgb(12, 42, 68);
	border: rgb(115, 160, 196) 1px solid;
	display: inline-block;
}

hr{ 
	height: 4px; 
	background-color: rgb(12, 42, 68); 
}